body{
	background: #00004C;
}

#bkgrndimg{
	width: 960px;
	height: 100%;
	position: absolute;
	z-index: -1;
	


}

.wrap{
	border:solid 1px black;
	width:960px;
	margin:0 auto;
	height:100vh;

}

#banner{
	height:250px;
	background: black;
	width:100%;

}
#socialMediaDeck{
	width: 75px;
	height: 200px;
	background: black;
	position: fixed;
	top: 150px;
	left: 0px;
}



nav ul {
	list-style: none;
	padding-left: 0px;
	border: solid 1px black;
}

nav ul li{
	border: solid 0px black;
	width: 25%;
	float: left;
	text-align: center;
	
}

nav ul li:hover{
	background: black;
	color: #CC3300;
	font-weight: bold;
	font-size: 12pt;
	cursor: pointer;
}

#mainArea{
	clear: both;
}

section{
	width:50%;
	background: rgba(128, 128, 128, .8);
	float:left;
	min-height:100vh;
	border: solid 0px black;
}

p{
	padding: 10px;
}

footer{
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
	color: #CC3300;
}