.wrap{
	border:solid 1px black;
	width:960px;
	margin:0 auto;
	height:100vh;
}

#banner{
	height:250px;
	background: black;
	width:100%;
}
#socialMediaDeck{
	width: 75px;
	height: 200px;
	background: black;
	position: fixed;
	top: 150px;
	left: 0px;
}